/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
body,
.form-control,
h4 {
    font-family: 'Nunito', sans-serif;
}

.navbar {
    background-color: #1545b3;
    height: 78px;
}


label {
    color: #000000;
    font-size: 1rem;
}

p {
    font-size: 0.875rem;
    font-weight: 400;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    position: relative;
    background: url("../img/hero-bgi.png") center bottom no-repeat;
    background-size: cover;
    padding: 200px 0 10px 0;
}

@media (max-width: 991px) {
    #hero {
        padding: 140px 0 60px 0;
    }
}

@media (max-width: 574px) {
    #hero {
        padding: 100px 0 20px 0;
    }
}

#hero .hero-img {
    width: 50%;
    float: right;
}

@media (max-width: 991px) {
    #hero .hero-img {
        width: 80%;
        float: none;
        margin: 0 auto 25px auto;
    }
}

#hero .hero-info {
    width: 50%;
    float: left;
}

@media (max-width: 991px) {
    #hero .hero-info {
        width: 80%;
        float: none;
        margin: auto;
        text-align: center;
    }
}

@media (max-width: 767px) {
    #hero .hero-info {
        width: 100%;
    }
}

#hero .hero-info h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
}

#hero .hero-info h2 span {
    color: #74b5fc;
    text-decoration: underline;
}

@media (max-width: 767px) {
    #hero .hero-info h2 {
        font-size: 34px;
        margin-bottom: 30px;
    }
}



.box {
    height: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.box>i {

    font-size: 20px;

    color: #777;

}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}




/*--------------------------------------------------------------
# HOME TITLE
--------------------------------------------------------------*/

.home-title {
    font: 20px "Nunito Sans";
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: -0.9px;
    color: #39485a;
    margin: 0px 20px;
}

.ser-items {
    border-left: 2px solid #e0edf9;
    padding-left: 10px;
}

@media (max-width: 767.98px) {
    .home-title {
        font-size: 24px;
    }
}

.text-da,
.text-da:hover {
    color: #000000;
}

.m-0 {
    margin: 0 !important;
}

/*
-----------------------------------------------------------------------
SIGNUP
----------------------------------------------------------------------
*/

.form-register .steps {
    margin-bottom: 36px;
}

.form-register .steps ul {
    display: flex;
    display: -webkit-flex;
    list-style: none;
    padding-left: 0;
}

.form-register .steps li,
.form-register .steps li.current {
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}

.form-register .steps li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #ccc;
    margin-right: 30px;
    position: relative;
    outline: none;
}


.form-register .steps li a::before {
    position: absolute;
    content: "";
    background: #e5e5e5;
    width: 30px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 100%;
}

.form-register .steps li.last a::before {
    content: none;
}

.form-register .steps li.current a,
.form-register .steps li.current a:active,
.form-register .steps li.done a::before,
.form-register .steps li.done a,
.form-register .steps li.done a:active {
    background: #030303;
}

.form-register .steps li .current-info {
    display: none;
}

.form-register .steps li .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Nunito sans';
}

.form-register .content h2 {
    display: none;
}

/*--------------------------------------------------------------
# Button MODAL
--------------------------------------------------------------*/


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }

    .modal-dialog .modal-content {
        padding: 1rem;
    }
}

.modal-header .close {
    margin-top: -1.5rem;
}

.form-title {
    margin: -3rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons {
    margin: 0 0.5rem 1rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}

.login-title {
    text-transform: none;
    font-weight: 600;
    font-size: 1.725rem;
    font-family: "Nunito sans";
    color: #2b333d;
    margin: 0 0 20px 0 !important;
}


/*------------------------------
MODALS
-------------------------------*/

h5 {
    background: rgba(0, 99, 207, 0.08);
    padding: 10px 25px;
    border-radius: 5px;
    margin: 0 25px 32px 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #0063cf;
}

.close {
    font-size: 1.8rem;
}

.kose {
    padding: 40px;
    width: 100%;
}

.provider {
    border: 1px solid #0063cf;
    color: #0063cf;
    padding: 0 0.5em;
    border-radius: 5px;
}


/*MITUELLE PAGE*/


.service-card {
    background-color: #ffffff !important;
    border-radius: 5px;
    border: 2px solid #0063cf !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    border: 1px solid #f2f2f2;
    border-radius: 1px;
}

.service-card>.card-header {
    background-color: #e0edf9;
    color: #162636;
    border-bottom: 3px solid #0063cf;
}

.space-he {
    margin-top: 100px;
}

/*------------------------------
LOG IN
-------------------------------*/
select:focus,
input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #2196F3 !important;
    outline-width: 0 !important;
    font-weight: 400
}

.tabs {
    margin: 2px 5px 0px 5px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tabs:hover,
.tabs.active {
    border-bottom: 1px solid #2196F3
}

.line {
    background-color: #CFD8DC;
    height: 1px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .tabs h6 {
        font-size: 12px;
    }
}

/*
=======================================================
RECEIPT CSS
=======================================================
*/
.text-secondary-d1 {
    color: #728299 !important;
}

.page-headera {
    margin: 0 0 1rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
    border-bottom: 1px dotted #e2e2e2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.page-titlea {
    padding: 0;
    margin: 0;
    font-size: 1.75rem;
    font-weight: 300;
}

.brc-default-l1 {
    border-color: #dce9f0 !important;
}

.ml-n1,
.mx-n1 {
    margin-left: -.25rem !important;
}

.mr-n1,
.mx-n1 {
    margin-right: -.25rem !important;
}

.text-grey-m2 {
    color: #888a8d !important;
}

.text-success-m2 {
    color: #86bd68 !important;
}

.font-bolder,
.text-600 {
    font-weight: 600 !important;
}

.text-110 {
    font-size: 110% !important;
}

.text-blue {
    color: #478fcc !important;
}

.pb-25,
.py-25 {
    padding-bottom: .75rem !important;
}

.pt-25,
.py-25 {
    padding-top: .75rem !important;
}

.bgc-default-tp1 {
    background-color: #1545b3 !important;
}

.bgc-default-l4,
.bgc-h-default-l4:hover {
    background-color: #f3f8fa !important;
}


.btn-light {
    color: #757984;
    background-color: #f5f6f9;
    border-color: #dddfe4;
}

.w-2 {
    width: 1rem;
}

.text-120 {
    font-size: 120% !important;
}

.text-primary-m1 {
    color: #4087d4 !important;
}

.text-danger-m1 {
    color: #dd4949 !important;
}

.text-blue-m2 {
    color: #68a3d5 !important;
}

.text-150 {
    font-size: 150% !important;
}

.text-60 {
    font-size: 60% !important;
}

.text-grey-m1 {
    color: #7b7d81 !important;
}

.align-bottom {
    vertical-align: bottom !important;
}

/* LOGIN */

.preview-container {
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 2px 14px 0 rgb(187 208 221 / 50%);
}

.verification-form {
    margin-left: 50px;
}

/* .title-icon {
    width: 12px;
    position: relative;
    top: -1px;
    color: #0063cf;
} */
